.activity__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.activity__item {
    display: flex;
    padding: 25px 15px;
    background-color: #F2F2F2;
    border-radius: 50px;
    font-size: 18px;
}

.activity__link {
    transition: .3s
}

.activity__link:hover {
    transform: rotate(5deg);
}