:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}



.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.section {
  padding: 60px 0;
}
  
.section__title {
  position: relative;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 30px;
}
    

.container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}

.swiper {
  width: 800px;
  height: 300px;
}

.swiper-slide:first-child {
  background: url("../img/img1.jpg") center / contain no-repeat;
}

.swiper-slide:nth-child(2) {
  background: url("../img/img2.jpg") center / contain no-repeat;
}

.swiper-slide:nth-child(3) {
  background: url("../img/img3.jpg") center / contain no-repeat;
}

.swiper-slide:nth-child(4) {
  background: url("../img/img4.jpg") center / contain no-repeat;
}

.swiper-slide:nth-child(5) {
  background: url("../img/img5.jpg") center / contain no-repeat;
}

.swiper-slide:nth-child(6) {
  background: url("../img/img6.jpg") center / contain no-repeat;
}

.nav {
    padding: 30px 0;
}